input[type="button"], input[type="submit"] { 
  color:#661a00; 
  font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
  background-color:#fed; 
  border:1px solid; 
  border-radius: 5px;
  border-color: #661a00; 
} 

button { 
  color:#661a00; 
  font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
  background-color:#fed; 
  border:1px solid; 
  border-radius: 5px;
  border-color: #661a00; 
}

body {
  background-color: #ff704d;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.orgContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.orgCard {
  flex: 0 1 18%;
  background-color: #fed8b1;
  margin: 2%;
  padding: 1%;
  border: 10px #cc2900 solid;
  border-radius: 5px;
  transition: 0.75s;
  color: #661a00;
}

.orgInfo {
  flex: 0 1 18%;
  background-color: #fed8b1;
  margin: 2%;
  padding: 1%;
  border: 10px #cc2900 solid;
  border-radius: 5px;
  transition: 0.75s;
  color: #661a00;
}

.login {
  background-color: #fed8b1;
  border: 5px #cc2900 solid;
  border-radius: 10px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 5%;
  margin-top: 10%;
  padding-bottom: 20px;
  color: #661a00;
  text-align: center;
}

.current-user {
  background-color: #fed8b1;
  border: 5px #cc2900 solid;
  border-radius: 10px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 5%;
  margin-top: 10%;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #661a00;
}

.userProfile {
  flex: 0 1 18%;
  background-color: #fed8b1;
  margin: 2%;
  padding: 1%;
  border: 10px #cc2900 solid;
  border-radius: 5px;
  transition: 0.75s;
  color: #661a00;
}


.search-bar {
  background-color: #fed8b1;
  border: 5px #cc2900 solid;
  border-radius: 10px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  margin-top: 5%;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #661a00;
}

.favorite-button:click {
  visibility: hidden;
}

/* .minOrgTile {
  background-size: cover;
  width: 500px;
  height: 500px;
}

.maxOrgTile {
  background-size: cover;
  width: 500px;
  height: 500px;
} */

.orgCard:hover {
  transform: scale(1.05);
}

.title {
  background-color: #ccffff;
  width: 105%;
  height: 70px;
  margin-left: -10px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
  font-size: 5vw;
  color: #e68a00;
  padding-bottom: 60px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 3px 3px #cc6600;
  z-index: -1;
  border: 5px solid #cc2900;  
  position: relative;
  overflow: visible;
  margin-top: 110px;
}
.title_image {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

.title_text {
  position: absolute;
  top: 50%;
  left: 50%; 
  width: 60%;
  padding-bottom: 6px;
  transform: translate(-50%, -50%);
  font: 90px Candara, Arial;
  font-weight: bolder;
  width: max-content;
}

.noFavorites {
  position: relative;
  align-content: center;
}